@use "../../styles/colors";
@use "../../styles/variables";
@use "../../styles/mixins";

.hamburger_btn {
  min-width: 171px;
  height: 48px;
  background: colors.$primary-red;
  color: colors.$white;
  border: none;
  padding: 5px 24px 5px 64px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    background-color: colors.$white;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    transition: all 0.3s;
  }

  span:nth-child(1) {
    position: absolute;
    top: 12px;
    left: 26px;
  }

  span:nth-child(2) {
    position: absolute;
    top: 19px;
    left: 26px;
  }

  span:nth-child(3) {
    position: absolute;
    top: 26px;
    left: 26px;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 20px;
      transform-origin: center;
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 20px;
      transform-origin: center;
    }
  }

  .btn_text {
    @media (max-width: 950px) {
      display: none;
    }
  }
}
