@use "../../../../styles/variables";
@use "../../../../styles/colors";

.footer_bottom {
  margin-top: 77px;
  border-top: 1px solid white;
  @media (max-width: variables.$tabletSize) {
    margin-top: 50px;
  }

  @media (max-width: variables.$mobileSize) {
    margin-top: 36px;
    padding-top: 20px;
  }

  .inner_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;

    @media (max-width: variables.$mobileSize) {
      flex-direction: column;
      align-items: start;
    }

    .footer_logo {
      display: block;
      width: auto;
      height: auto;
      aspect-ratio: 164 / 36;

      @media (max-width: variables.$mobileSize) {
        margin-bottom: 20px;
      }

      @media (max-width: variables.$mobileSize) {
        margin-top: 20px;
      }

      @media (max-width: 950px) {
        width: 109px;
        height: 24px;
      }
    }

    .hide_icons_block {
      display: none;

      @media (max-width: variables.$mobileSize) {
        display: flex;
        align-items: center;
        margin-left: auto;

        img {
          margin-right: 16px;
          padding: 10px 4px;
          object-fit: contain;
          height: auto;
          width: 40px;
        }

        @media (max-width: 680px) {
          margin: 15px 0 0;
        }
      }
    }

    @media (max-width: variables.$mobileSize) {
      display: unset;
    }
  }

  .img_block {
    display: flex;
    align-items: center;

    @media (max-width: variables.$mobileSize) {
      margin-top: 16px;
    }

    > div {
      gap: 32px;
      @media (max-width: variables.$mobileSize) {
        gap: 16px;
      }
      div {
        display: flex;
        align-items: center;
      }

      &:first-child {
        display: flex;
        align-items: center;
      }
    }

    a {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      margin-left: 8px;
    }

    @media (max-width: 680px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .hide_privacy {
    display: none;
    @media (max-width: variables.$mobileSize) {
      display: block;
    }
  }

  .hide_privacy {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: colors.$secondary-blue;
    opacity: 0.5;
    transition: all 0.3s;
    margin-top: 16px;
  }
}
